<form name="editCompany" class="form-horizontal" ng-submit="save()">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <b>{{company.id}}</b>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="name" type="text" ng-model="company.name" class="form-control" required ng-disabled="!edit">
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
            <input id="address" type="text" ng-model="company.address" class="form-control" required
                   ng-disabled="!edit">
        </div>
    </div>
    <div class="form-group">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
            <input id="city" type="text" ng-model="company.city" class="form-control" required ng-disabled="!edit">
        </div>
    </div>
    <div class="form-group">
        <label for="country" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
            <input id="country" type="text" ng-model="company.country" class="form-control" required
                   ng-disabled="!edit">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
            <input id="email" type="email" ng-model="company.email" class="form-control" required
                   ng-disabled="!edit">
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
            <input id="phone" type="text" ng-model="company.phoneNumber" class="form-control" ng-disabled="!edit">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="#/main">Back</a> | <input type="button" value="Edit" class="btn btn-info"
                                               ng-click="enableEdit()" ng-show="!edit && company.id">
            <input type="submit" value="Save" class="btn btn-success" ng-show="edit">
        </div>
    </div>
</form>
